@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pfl6tg');
  src:  url('fonts/icomoon.eot?pfl6tg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pfl6tg') format('truetype'),
    url('fonts/icomoon.woff?pfl6tg') format('woff'),
    url('fonts/icomoon.svg?pfl6tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flecha-hacia-abajo:before {
  content: "\e907";
}
.icon-youtube-play:before {
  content: "\e901";
}
.icon-compartir:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-lupa:before {
  content: "\e906";
}
.icon-campana:before {
  content: "\e900";
}

