*{
	font-family: 'Montserrat', sans-serif;
}

body{
	position: relative;
	margin: 0;
	padding: 0;
}

/*=====MENU=====*/

section{
	position: absolute;
	top: 0;
}



/*=====MENU=====*/

#menu{
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 1;
}

#logo-lyft{
	position: absolute;
	top: 30px;
	left: 60px;
	width: 70px;
	height: auto;
}

#nav-derecha{
	position: absolute;
	right: 130px;
	top: 30px;
}

#nav-derecha div{
	display: inline-block;
	margin: 0 -6px;
	width: 90px;
	height: 30px;
}

#nav-derecha a{
	color: white;
	text-decoration: none;
	position: absolute;
	top: 5px;
}

#login{
	border-radius: 8px;
	border: 1px solid white;
}

#login a{
	position: absolute;
	right: 20px;
}


/*=====CONTACTO=====*/

#contacto{
	position: absolute;
	height: 600px;
	margin: 0;
	display: inline-flex;
}

#video{
	overflow: hidden;
	height: 600px;
	width: 100%;
}

#text-contacto{
	background-color: white;
	position: absolute;
	width: 444px;
	height: 470px;
	right: 180px;
	top: 130px;
}

#text-contacto h1{
	color: #352384;
	font-size: 48px;
	margin: 38px 50px 0 50px;
}

#text-contacto h3{	
	color: #352384;
	margin: 6px 50px;
	font-size: 18px;
	font-weight: 600;
}

#text-contacto form{
	margin: 14px 50px;
	width: 400px;
}

#text-contacto input{
	margin: 26px 0;
	width: 300px;
	height: 35px;
}

#become{
	text-decoration: none;
	color: white;
	font-size: 17px;
	position: absolute;
	top: 300px;
	left: 65px;
}

#sign{
	color: #728099;
	font-size: 17px;
	position: absolute;
	top: 300px;
	left: 250px;
}

#text-contacto div{
	display: inline-block;
}

#text-contacto p{
	font-size: 12px;
	line-height: 6px;
	margin-top: 20px;
}

#boton-contacto{
	width: 160px;
	height: 45px;
	border-radius: 8px;
	background-color: #FF00BF;
	border: 1px solid #FF00BF;
}

/*=====GRADIENTE-CELULAR=====*/

#gradiente-morado{
	position: relative;
	top: 600px;
	width: 1510px;
	height: 530px;
	color: white;
	background-color: purple;
}

#text-gradiente{
	position: absolute;
	margin: 0 auto;
	left: 250px;
	width: 350px;
	display: inline-block;
	font-weight: 400;
	top: 50px;
}

#text-gradiente h2{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 29px;
	margin: 22px 0;
}

#text-gradiente p{
	font-size: 16px;
	margin: 0;
	line-height: 22px;
}

#celular-gradiente{
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	right: 250px;
	width: 460px;
	top: 20px;
}

#celular-gradiente img{
	width: 460px;
}

/*=====VIDEO1=====*/

#video1{
	position: relative;
	top: 600px;
	height: 400px;
	width: 100%;
}

.text-video{
	position: absolute;
	left: 100px;
	top: 20px;
	width: 320px;
	line-height: 24px;
}

#video1 iframe{
	position: absolute;
	right: 0;
	width: 900px;
	height: 400px;
}


/*=====VIDEO2=====*/

#video2{
	position: relative;
	top: 600px;
	height: 400px;
	width: 100%;
}

.text-video2{
	position: absolute;
	right: 100px;
	top: 20px;
	width: 320px;
	line-height: 24px;
}

#video2 iframe{
	position: absolute;
	left: 0;
	width: 900px;
	height: 400px;
}

/*=====VIDEO3=====*/

#video3{
	position: relative;
	top: 600px;
}

#video3 .derecha{
	position: absolute;
	left: 100px;
	top: 20px;
	width: 320px;
	line-height: 24px;
}

#video3 iframe{
	position: absolute;
	right: 0;
	width: 900px;
	height: 400px;
}

/*=====FOOTER=====*/

#footer{
	position: relative;
	top: 2330px;
	width: 100%;
	height: 410px;
	background-color: #303043;
	color: white;
}

#div-footer{
	position: absolute;
	margin: 0 auto;
	width: 1000px;
	right: 0;
	left: 0;
	display: block;
	top: 18px;
}

.div-columna{
	display: inline-block;
	line-height: 45px;
	margin: 0 60px;
}

#footer a{
	display: block;
}

.titulo-footer{
	font-weight: 700;
	text-decoration: none;
	color: white;
}

.titulo-footer:hover{
	text-decoration: underline;
}

.text-footer{
	color: white;
	text-decoration: none;
}

.text-footer:hover{
	color: #d70083;
}

.logos{
	display: block;
	height: 42px;
	width: auto;
	margin: 15px 0;
}

#microsoft{
	width: 140px;
}

#div-footer2{
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
	width: 142px;
	top: 270px;
}

.div-circular{
/*	width: 40px;
	height: 40px;*/
	display: inline-block;
	margin: 0 6px;
}

.icon-facebook{
	font-size: 32px;
}

.icon-instagram{
	font-size: 	32px;
}

.icon-twitter{
	font-size: 32px;
}

#div-footer3{
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
	width: 600px;
	top: 332px;
	text-align: center;
}

#footer hr{
	width: 600px;
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
}